.floating-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #25D366;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}

.floating-button img {
  width: 30px;
  height: 30px;
}